<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="green">
                        <h4 class="title">Delivery Route - XYZ</h4>
                        <p class="category">Carrier : Mr. John Doe</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-success">
                            <tr>
                                <th class="col-md-1"><strong>#</strong></th>
                                <th class="col-md-3"><strong>Address</strong></th>
                                <th class="col-md-4"><strong>Subscription</strong></th>
f                                <!--<th class="col-md-4"><strong>Notes</strong></th>-->
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let dp of deliveryPoints; let i = index">
                                <td>{{i+1}}</td>
                                <td>
                                    <!--<button type="button" class="btn btn-outline-secondary">Mr. John Doe</button><br>-->
                                    <strong>Mr. John Doe</strong><br><br>
                                    <blockquote><strong>{{dp.address}}</strong>
                                        <br>
                                        DW to Rt of Hydrant
                                    </blockquote>

                                </td>
                                <td>
                                    <app-subscription-box *ngFor="let s of dp.subscriptions" [subscription]="s"></app-subscription-box>
                                </td>
                                <!--<td>DW to Rt of Hydrant</td>-->
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
